In [4]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('./data/IRR_preprocess_all_v3.csv')

In [22]:
temp = df.copy()

In [23]:
temp['term_int'] = np.where(temp['term']==1, 36, 60)

In [24]:
temp[['term', 'term_int']]

         term  term_int
0           0        60
1           1        36
2           1        36
3           1        36
4           0        60
...       ...       ...
1075393     0        60
1075394     1        36
1075395     1        36
1075396     1        36
1075397     1        36

[1075398 rows x 2 columns]

In [25]:
len(temp)

1075398

In [32]:
temp = temp[~((temp['loan_status'] == 0) & (temp['total_calc'] < temp['funded_amnt']))]

In [31]:
len(temp[(temp['loan_status'] == 0) & (temp['total_calc'] < temp['funded_amnt'])][['total_calc', 'total_pymnt', 'loan_status']])

50

In [33]:
len(temp)

1075348

In [36]:
df = df[df['id'].isin(temp['id'])]

In [37]:
len(df)

1075348

In [38]:
df.to_csv('./data/unusual_drop_preprocess_all_v4.csv', index=False)

In [39]:
len(df.columns)

70

In [40]:
df.columns

Index(['acc_now_delinq', 'acc_open_past_24mths', 'addr_state', 'annual_inc',
       'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths',
       'collections_12_mths_ex_med', 'delinq_2yrs', 'dti', 'grade',
       'home_ownership', 'id', 'inq_last_6mths', 'installment', 'int_rate',
       'issue_d', 'loan_amnt', 'loan_status', 'loan_status_label',
       'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op',
       'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_last_delinq',
       'mths_since_last_major_derog', 'mths_since_last_record',
       'mths_since_rcnt_il', 'mths_since_recent_bc',
       'mths_since_recent_bc_dlq', 'mths_since_recent_inq',
       'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd',
       'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl',
       'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'open_acc',
       'pct_tl_nvr_dlq', 'pub_rec', 'pub_rec_bankruptcies', 'purpose',
       'revol_bal', 'revol_util', 'sub_grade', 'tax_liens', 'term',
       'tot_coll_amt', 'tot_hi_cred_lim', 'total_acc', 'total_bal_ex_mort',
       'total_pymnt', 'total_rev_hi_lim', 'verification_status', 'emp_length',
       'fico', 'credit_hist_months', 'have_bc', 'have_rev', 'treasury',
       'funded_amnt', 'irr'],
      dtype='object')